div class="rw">
  <li class=" button success"> <%= link_to "page 1", root_path, :class => 'nav-link text-dark' %> </li>
  <li class=" button warning"> <%= link_to "page 1", root_path, :class => 'nav-link text-dark' %> </li>
  <li class="col-4 button bg-dark"> <%= link_to "page 1", root_path, :class => 'nav-link text-white' %> </li>
</div>
